mixin form-checkbox(props)
	label.form-checkbox.form-group&attributes(attributes)
		input.form-checkbox__input(type='checkbox' name=props.name value=props.val checked=props.checked class=props.clCheck)
		span.form-checkbox__checkmark
			span.form-checkbox__text= props.text